{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center narrow-form-width">
            {% with button_label='ВХОД' %}
                {% include 'form-login.html' %}
            {% endwith %}
            <div class="d-flex flex-row align-items-center justify-content-center my-3">
                <button class="mr-3 btn content-btn">
                    <a href="{% url 'organization-register' %}">Регистрирай се</a>
                </button>
{#                <button  class="btn content-btn">#}
{#                    <a href="{% url 'password-reset' %}">Забравена парола</a>#}
{#                </button>#}
            </div>
        </div>
    </div>
{% endblock %}
