{% extends "base.html" %}
{% load custom_tags %}

{% is_organization request as organization %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center border form-width">
            {% if organization %}
                {% with form_header='Регистрирай служител' button_label='Регистрирай' %}
                    {% include 'form.html' %}
                {% endwith %}
            {% elif not request.user.is_authenticated %}
                {% with form_header='Регистрирай организация' button_label='Регистрирай' %}
                    {% include 'form.html' %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
