{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center narrow-form-width">
            <div class="style-container">
                <div class="box">
                    <span class="box-border"></span>
                    <div class="content">
                        <h1>Въведете нова парола</h1>
                        <p>Моля въведете нова парола два пъти.</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Запази</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
