{% load get_group_tag %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAWesome</title>
</head>
<body>
    <header>
{#        <img src="{% get_static('images/logo.png') %}" alt="Logo">#}
        <h1>PAWesome</h1>
    </header>
    <div class="content">
        {% if user|has_group:'Organizations' %}
            <p>Здравейте {{ request.user.name }},</p>
        {% elif user|has_group:'Employee' %}
            <p>Здравейте {{ request.user.first_name }} {{ request.user.last_name }},</p>
        {% endif %}
        <p>
            Забравили сте вашата парола?
            Използвайте линка по-долу, за да зададете нова парола за вашия профил.
        </p>
        <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>        <p>Ако не сте заявили тази промяна, моля игнорирайте този имейл. </p>
        <p>Благодарим Ви, че използвате PAWesome!</p>
    </div>
    <footer>
        <p>PAWesome</p>
    </footer>
</body>
</html>
