<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAWesome</title>
</head>
<body>
    <header>
        <h1>PAWesome</h1>
    </header>
    <div class="content">
        <p> Здравейте,
            Използвайте линка по-долу, за да зададете нова парола за вашия профил в PAWesome.
        </p>
        <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
        <p>Ако не сте заявили тази промяна, моля игнорирайте този имейл.</p>
        <p>Благодарим Ви, че използвате PAWesome!</p>
    </div>
    <footer>
        <p>PAWesome</p>
    </footer>
</body>
</html>
