{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card-deck d-flex justify-content-center">

        <div class="card text-dark " style="max-width: 25%;">
            <img class="card-img-top" src="{% static 'images/donate.jpeg' %}" alt="donate">
            <div class="card-img-overlay bg-blurred d-flex flex-fill flex-column justify-content-end">
                <h3 class="card-title text-uppercase">Дари</h3>
                <button class="btn btn-outline-dark"><a href="{% url 'donation-tickets' %}">Дари</a></button>
            </div>
        </div>

        <div class="card text-dark" style="max-width: 25%;">
            <div>
                <img class="card-img-top" src="{% static 'images/foster-home.jpeg' %}" alt="foster-home">
                <div class="card-img-overlay bg-blurred d-flex flex-column justify-content-end ">
                    <h3 class="card-title text-uppercase">Стани приемен дом</h3>
                    <button class="btn btn-outline-dark"><a href="{% url 'donation-tickets' %}">Стани приемен дом</a></button>
                </div>
            </div>
        </div>


        <div class="card text-dark" style="max-width: 25%;">
            <div>
                <img class="card-img-top" src="{% static 'images/volunteer.jpeg' %}" alt="volunteer">
                <div class="card-img-overlay bg-blurred d-flex flex-column justify-content-end ">
                    <h3 class="card-title text-uppercase">Бъди доброволец</h3>
                    <button class="btn btn-outline-dark"><a href="{% url 'donation-tickets' %}">Разгледай инициативи</a>
                </button>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}