{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center form-width">
            <div class="style-container">
                <div class="box">
                    <span></span>
                    <div class="content">
                        <h2>Сигурни ли сте, че искате да изтриете този адрес за доставка?</h2>
                        <p>Това ще изтрие всички дарения за храна зададени към този адрес.</p>
                        <form method="post">
                            {% csrf_token %}
                            <button class="btn content-btn mr-3" type="button"><a href="{% url 'delivery-info' %}">Не</a></button>
                            <button class="btn content-btn" type="submit">Да</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
