{% extends 'base.html' %}
{% load static %}
{% load  custom_tags %}


{% block content %}
    <div class="d-flex flex-wrap justify-content-center mb-5">
        {% for food in object_list %}
            <div class="d-flex flex-column border justify-content-between py-2 px-2 mb-5 mx-3" style="width: 30%;">
                <div class="text-center">
                        <p>
                            {{ food.item }}
                        </p>

                        {% if food.count_quantity %}
                            <p>
                            {{ food.count_quantity }} бр.
                            </p>
                        {% elif food.weight_quantity %}
                            <p>
                                {{ food.weight_quantity }} кг.
                            </p>
                        {% endif %}
                    </div>

                <div class="d-flex flex-row justify-content-around">
                    <div class="delivery-info">
                        <p class="hover-trigger border text-muted text-center" onmouseover="showHoverInfo()" onmouseout="hideHoverInfo()">
                            Информация за доставка
                        </p>
                        <ol class="hover-info list-group-flush">
                            {% for info in food.delivery_info.all %}
                                <li class="list-group-item">{{ info }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>

                <div class="d-flex flex-row justify-content-around">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'donation-ticket-edit' food.pk %}"><i class="fas fa-pencil-alt"></i></a>
                        {% if request.user|has_group:'Organizations' %}
                            <a href="{% url 'donation-ticket-delete' food.pk %}"><i class="fas fa-times"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if object_list %}
        <p class="text-center">Може да дарите както цялото, така и част от необходимото количество.</p>
    {% endif %}


    <style>
        .hover-trigger{
            cursor: pointer;
        }
        .delivery-info {
            position: relative;
        }

        .hover-info {
            display: none;
            position: absolute;
            top: 100%;
            left: 5%;
            background-color: #f1f1f1;
            {#padding: 6px;#}
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 14px;
            z-index: 1;
        }
    </style>
{% endblock content %}


{% block js-scripts %}
    <script>
        function showHoverInfo(){
            let hoverInfo = document.querySelector('.hover-info');
            hoverInfo.style.display = 'block';
        }

        function hideHoverInfo(){
            let hoverInfo = document.querySelector('.hover-info');
            hoverInfo.style.display = 'none';
        }
    </script>
{% endblock js-scripts %}
