{% extends 'base.html' %}
{% load  custom_tags %}

{% block content %}
    <ul>
        {% for food in object_list %}
            {% if food.count_quantity %}
                <li>{{ food.item }} - {{ food.count_quantity }} бр.</li>
            {% elif food.weight_quantity %}
                <li>{{ food.item }} - {{ food.weight_quantity }} кг.</li>
            {% endif %}
            <button type="button">Информация за доставка</button>
            {% if request.user.is_authenticated and request.user|has_group:'Organizations' %}
                <button><a href="{% url 'donation-ticket-delete' food.pk %}">Изтрий</a></button>
            {% endif %}
            {% for info in food.delivery_info.all %}
                <p>{{ info }}</p>
            {% endfor %}
        {% endfor %}
    </ul>

    <p>Може да дарите както цялото, така и част от необходимото количество.</p>

{% endblock content %}
