<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ subject }}</h1>
    <h2>
        Благодарим Ви, че се регистрирахте за приемен дом в PAWesome.
        Вашата заявка вече е видима за организациите.
        При интерес ще се свържат с Вас на посочения телефонен номер или имейл.
    </h2>
    <h3>Можете да промените заявката си на този линк: {{ edit_url }}</h3>
    <h3>Можете да изтриете заявката си на този линк: {{ delete_url }}"</h3>
</body>
</html>