<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ subject }}</h1>
    <p>{{ message }}</p>
    <p>
        Благодарим Ви, че се регистрирахте за приемен дом в PAWesome.
        Вашата заявка вече е видима за организациите.
        При интерес ще се свържат с Вас на посочения телефонен номер или имейл.
    </p>
    <p>Можете да промените заявката си <a href="{{ edit_url }}">тук</a>:</p>
    <p>Можете да изтриете заявката си <a href="{{ delete_url }}">тук</a>:</p>
</body>
</html>