<h2 class="text-center my-5">{{ form_header }}</h2>

<div class="container">
    <div class="d-flex flex-column border">
        <div id="location_map" class="flex-grow-1" style="height: 500px;"></div>

        <div class="px-5 pt-5">
            <form method="post" enctype="multipart/form-data">
                <div class="d-flex flex-lg-row flex-column justify-content-center" style="height: 500px;">
                    <div class="overflow-auto pr-5 mb-lg-0 mb-5">
                            {% csrf_token %}
                            {{ form.as_p }}
                    </div>

                    {% if form.formset %}
                        {{ form.formset.management_form }}
                        {% include 'images.html' %}
                    {% endif %}

                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit"
                            class="btn btn-outline-primary mt-5 mb-5 px-5"
                            onclick="updateTotalForms('id_animalphotos_set-0-photo')"
                    >{{ button_label }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
