<div class="style-container">
    <div class="box">
        <span class="box-border"></span>
        <div class="content">
            <h2 class="text-center mb-5">{{ form_header }}</h2>

            <form method="post" class="d-flex flex-column">
                {% csrf_token %}
                {{ formset.management_form }}
                <div class="formset-container d-flex flex-column align-items-center">
                    {% for form in formset %}
                        <div class="form my-3">
                            {{ form.question }}
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex flex-sm-row flex-column justify-content-center my-3">
                    <button
                        class="btn content-btn mb-sm-0 mb-3 mr-sm-2 mr-0 px-3"
                        id="add-question"
                        type="button"
                        onclick="addQuestionField()"
                    >Добави въпрос</button>

                    <button
                        class="btn content-btn px-3"
                        type="submit"
                        onclick="updateTotalForms('id_form-0-question')"
                    >Запази</button>
                </div>
            </form>
        </div>
    </div>
</div>
