<h1>{{ form_header }}</h1>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="formset-container">
        {% for form in formset %}
            <div class="formset">
                {{ form.question }}
            </div>
        {% endfor %}
    </div>
    <button id="add-question" type="button" onclick="addFormsetField('id_form-0-question')">Добави въпрос</button>
    <button type="submit" onclick="updateTotalForms('id_form-0-question')">Запази</button>
</form>