img {
 box-sizing: content-box;
}

ul>li {
    list-style: none;
}

/* CARDS */

/* ANIMAL CARD */
.left-border-radius{
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
}

.right-border-radius{
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}

.card-img {
    width: 300px;
    height: 256px;
}

@media (max-width: 992px) {
    .card-img {
        width: 250px;
        height: 250px;
    }
}

.hover-text {
    display: none;
}

.icon-container:hover .hover-text {
    display: block;
    position: absolute;
    top: 120%;
    left: 50%;
    border: solid darkgreen 2px;
    background-color: #fff;
    color: darkgreen;
    padding: 3px 8px;
    border-radius: 5px;
    white-space: nowrap;
}


/* ICONS */

.icon{
    color: darkgreen;
}

.icon-container {
    position: relative;
    color: #c0ffc0;
}

/* DONATION TICKETS CARDS */
.hover-trigger{
    cursor: pointer;
}

.delivery-info {
    position: relative;
}

.hover-info {
    display: none;
    position: absolute;
    top: 100%;
    left: 5%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 14px;
    z-index: 1;
}

/* ANIMAL GALLERY */
/*{#    30vh for responsive !!! #}*/
#animalGallery{
    height: 60vh;
}

@media (max-width: 1200px) {
    #animalGallery {
        height: 30vh;
    }
}

@media (max-width: 576px) {
    #animalGallery {
        height: 16vh;
    }
}

.carousel-inner {
    height: 100%;
}

.carousel-item .col {
    height: 100%;
    width: 25%;
    margin: 0;
    padding: 0;
}

.carousel-image {
    height: 100%;
    object-fit: cover;
}

/*.rainbow-border{*/
/*    border: 5px solid;*/
/*    border-image: linear-gradient(132deg, rgb(221, 2, 3) 0.00%, rgb(251, 137, 2) 20.00%, rgb(248, 235, 5) 40.00%, rgb(0, 127, 38) 60.00%, rgb(5, 75, 249) 80.00%, rgb(114, 6, 130) 100.00%);*/
/*    border-image-slice: 1;*/
/*}*/


/* IMAGES */


/* BLURRED BACKGROUND */

.card-img-overlay {
            position: relative;
        }

.bg-blurred {
    position: absolute;
    top: 75%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
/* IMAGE COVER */
.img-obj-fit-cover{
    object-fit: cover;
}

.donation-ticket-img {
    width: 100px;
    height: 100px;
}


/* FOMRS */
.form-width {
    width: 40%;
}

@media (max-width: 992px) {
    .form-width {
        width: 75%;
    }
}

.narrow-form-width {
    width: 25%;
}

@media (max-width: 992px) {
    .narrow-form-width {
        width: 50%;
    }
}

.errorlist li{
    color: red;
    list-style: none;
}

.helptext {
    color: grey;
    opacity: 80%;
    font-size: 0.9rem;
}

.form-control {
    box-sizing: border-box;
}


/* TABLES */

.table-striped tbody tr:nth-of-type(odd) {
    background-color: darkseagreen;
}