{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% is_employee request as employee %}
{% is_organization request as organization %}


{% block content %}
    <div class="d-flex justify-content-center mt-5">
        {% if organization %}
            <div class="form-width border p-5">
                {% include 'organization-details-card.html' %}
                <div class="mt-5">
                    <button class="btn btn-outline-success mr-3"><a href="{% url 'profile-edit' object.pk %}">Редактирай</a></button>
                    <button class="btn btn-outline-success"><a href="{% url 'profile-delete' object.pk %}">Изтрий</a></button>
                </div>
            </div>
        {% elif employee %}
            <p>Employee</p>
        {% endif %}
    </div>
{% endblock content %}