{% extends 'base.html' %}
{% load custom_tags %}
{% load custom_tags %}
{% get_organization request as organization %}

{% block content %}
    <h1>За одобрение</h1>
    <ul>
        {% for adoption_form in object_list %}
            <li>
                <a href="{% url 'organization-handle-adoption-forms' organization.slug adoption_form.pk %}">
                    Осиновяване на {{ adoption_form.animal.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
