{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex">
        <div>
            <div class="filter-container border p-5" style="background-color: seagreen; position: fixed; top: 0; bottom: 0; left: 0;">
                <div style="position: absolute; top: 10px; right: -30px; font-size: 24px;">
                    <a><i class="fas fa-times" style="color: deeppink; display: block"></i></a>
                    <a><i class="fas fa-filter" style="color: deeppink; display: none"></i></a>
                </div>
                <h4 class="text-center mb-5">Филтрирай</h4>

                <form method="get">
                    {{ form.as_p }}
                    <button type="submit">Филтрирай</button>
                    <button><a href="?"> Изчисти филтри</a></button>
                </form>
            </div>
        </div>


        <div class="mx-auto">
            {% for animal in object_list %}
                <div class="d-flex flex-row mb-5 justify-content-center">
                    {% include 'animal_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'paginator.html' %}
{% endblock %}


{% block js-scripts %}
    <script src="{% static 'js/filter-show-hide.js' %}"></script>
{% endblock js-scripts %}