{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex">
        <div>
            {% include 'filter-on-page.html' %}
        </div>


        <div class="mx-auto">
            {% for animal in object_list %}
                <div class="d-flex flex-row mb-5 justify-content-center">
                    {% include 'animal_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'paginator.html' %}
{% endblock %}


{% block js-scripts %}
    <script src="{% static 'js/filter-show-hide.js' %}"></script>
    <script src="{% static 'js/show-hide-info.js' %}"></script>
    <script src="{% static 'js/filter-show-hide.js' %}"></script>
{% endblock js-scripts %}