{% extends 'base.html' %}

{% block content %}
    <div class="d-flex flex-column align-items-center my-5">
        <div class="style-container w-75">
            <div class="box">
                <span class="box-border"></span>
                <div class="content">

                    <h1 class="text-center">{{ object.name }}</h1>
                    <div class="d-flex justify-content-center">
                        {% include 'icons.html' %}
                    </div>
                    {% if user.is_authenticated %}
                        <div class="d-flex justify-content-center mb-5">
                            <button class="btn content-btn mx-3"><a href="{% url 'animal-edit' object.pk %}">Редактирай</a></button>
                            <button class="btn content-btn mx-3"><a href="{% url 'animal-delete' object.pk %}">Изтрий</a></button>
                        </div>
                        <div>
                            {% include 'animal_map.html' %}
                        </div>
                    {% endif %}

                    <div id="accordion" class="style-container">
                        <div class="box card">
                            <span class="box-border"></span>
                            <div class="content card-header" id="headingOne">
                                <h5>
                                   <button class="btn content-btn" data-toggle="collapse"
                                           data-target="#collapseOne" aria-expanded="false"
                                           aria-controls="collapseOne">
                                       Описание
                                   </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse content"
                                 aria-labelledby="headingOne" data-parent="#accordion">
                                {% if object.description %}
                                    <div class="card-body">{{ object.description }}</div>
                                {% else %}
                                    <div class="card-body">Не е налична повече информация.</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="card box">
                            <span class="box-border"></span>
                            <div class="content card-header" id="headingTwo">
                                <h5>
                                   <button class="btn content-btn" data-toggle="collapse"
                                           data-target="#collapseTwo" aria-expanded="false"
                                           aria-controls="collapseTwo">
                                       Медицински проблеми
                                   </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse content"
                                 aria-labelledby="headingTwo" data-parent="#accordion">
                                {% if object.medical_issues %}
                                    <div class="card-body">{{ object.medical_issues }}</div>
                                {% else %}
                                    <div class="card-body">Не е налична повече информация.</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if object.animalphotos_set.all %}
        <div class="style-container">
            <div class="box">
                <span class="box-border"></span>
                <div id="animalGallery" class="carousel slide content" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {% for photo in object.animalphotos_set.all|slice:":3" %}
                                    <div class="col">
                                        <img class="d-block w-100 carousel-image" src="{{ photo.photo.url }}" alt="Slide {{ forloop.counter }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {% for photo in object.animalphotos_set.all|slice:"3:" %}
                                    <div class="col">
                                        <img class="d-block w-100 carousel-image" src="{{ photo.photo.url }}" alt="Slide {{ forloop.counter }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
